/*menu,logo,about,features,works,blog,contact*/
/*page:portfolio,blog,detail blog,detail portfolio*/
*{margin: 0 auto;padding: 0;}
body
{
	
	width: 100%;
	background: #fff;


}
ul li,li
{
	list-style-type: none;
}
a,a:hover
{
	text-decoration: none!important;
}
a:active
{
	color:#07a787;
}
.text-center
{
	text-align: center;
}
.padding
{
	padding-top:5%;
}
.padding-top
{
	margin-top: 2%;
}
div.style{border-top:2px solid #03a9f4;margin-top: 5px;width: 80px; }
div.line{border-top: 1px solid #ededed;width:100%}
/*NAVIGATIONS*/
#menu
{
  background-color: #0288d1;
}
#logo
{
  background-color: #00bcd4;
  min-height: 180px;
}
#nav .inside-nav
{
	min-height: 75px;
	padding-bottom: 1%;
	text-align: center;
	
}

ul.nav-menu li a
{
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;

}
ul.nav-menu li a:hover
{
	color: #fff;
	transition:all 0.4s ease-in-out;
}
button i.fa
{
	color: white;
	font-size: 35px;	
}
.fixed {
	position: fixed; 
	top: 0; 
	z-index: 5;
	width: 100%;
	opacity: 1;
	
}
ul.nav-menu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 2% 2%;
    font-size: 16px;
    font-weight: bold;
}
/*LOGO*/
.logo
{
	text-align: center;
	min-height: 100px;

}
.logo img
{
	width: 100px;
	
}
.text-slogan
{
	font-size: 14px;
	color: #fff;
}
div.search
{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ff4081;
  position: absolute;
  top: 37%;
  right: 10%;
  z-index: 1;
  border: medium none;
  box-shadow: 1px #ededed;
}
.search i.fa
{
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
/*CONTENT*/
#content
{
	float: left;
position: relative;
width: 100%;
padding-top:2%; 
}
/*ABOUT*/
#about
{
	min-height: 10px;
	background: #fff;
	float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.img-about img{border-radius: 50%;width: 140px;height: 140px;border: 8px solid #ccc}
h2.title{text-transform: uppercase;font-weight:lighter;font-size:30px;padding-top: 50px;color: #1a1c28;text-align: center;}
.text-center-line{width: 1px;height: 200px;background: black;text-align: center;}
.about-content{padding-top: 40px;}
h2.title-small{font-weight: bold;font-size: 18px;color: #1a1c28;padding-top: 10px;}
p.infor-small{font-size: 15px;color: #959595;line-height: 24px;padding-top: 10px;text-align: justify;}
h2.skill{text-transform: uppercase;font-weight: bold;font-size: 30px;padding-top: 20px;}
h3.name-skill{font-size: 14px;color: #303030;font-weight: 300;padding-bottom: 10px;padding-top: 10px;}
.skill{padding-top: 10px;}
div.title
{
	margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 47px;
    border-bottom: 1px solid #ccc;
    
}


div.title h2 {
    font-size: 28px;
    margin-bottom: -14px;
    text-align: center;
    text-transform: uppercase;
}
div.title h2 span {
    color: #1a1c28;
    background: #fff;
}
div.title h2 span {
    padding: 0px 30px;
}
p.normal
{
	font-size: 14px;
    color: #303030;
    font-family: "roboto";
    font-weight: thin;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
input.more-about
{
	background-color:#ff4081;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	padding: 1.2%;
  border: medium none;
}


/*FEATURED-ME*/
#featured-me
{
	position: relative;
	width: 100%;
	background: #e8e8e8;
	padding-top: 40px;
	padding-bottom: 40px;
	float: left;
  min-height: 200px;
}

.headacc-main {
  font-size: 14px;
  color: #aeaeae;
  font-family: "roboto";
  font-weight: thin;
  line-height: 16px;
  padding: 10px 5px 10px 5px;
  text-align: left; }

h1.zmedium {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
	
   }
  /*--------------ACCORDION-----------*/
.zheadacc {
  padding: 2%;
  text-align: left;
  background: #303030;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1%;
  text-transform: uppercase;
  font-family: "roboto";
  cursor: pointer; }

h2.active {
  background: #03a9f4; }
  /*featured website*/
  /*FEATURED*/
#featured
{
	min-height: 250px;
	background: #fff;
	float: left;
  position: relative; 
  width: 100%;
    
}

.featured-main{padding-top: 60px;}
.featured-img
{
	width: 100%;
	height: 400px;

}
.features
{
	 float: left; 
    margin-bottom: 50px;
    position: relative;
    z-index: 2;

}
.featuress
{
	float: left;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;

}
i.medium
{
	width: 80px; 
    height: 80px; 
    font-size: 28px;
    text-align: center;
    border: 6px solid #1a1c28;
    border-radius: 50%;
}
i.fa{line-height: 70px;}
i.medium:hover{background: #1a1c28;border: 6px solid #03a9f4;transition-duration:0.5s;}
.title-icon
{
	  display: inline-block; 
    text-align: center; 
    float: left;
    margin-right: 30px;
    position: relative;
    color: #03a9f4;
}
.title-icon2
{
    display: inline-block; 
    text-align: center; 
    float: right;
    margin-left: 30px;
    position: relative;
    color: #03a9f4;
}
.align-left{text-align: left;}

.title-with-icon
{
	
    padding-left: 80px;
    margin-bottom: 50px;
    margin-left: 10%;

}
.title-with-icon2
{
  
    padding-right: 80px;
    margin-bottom: 50px;
    margin-right: 10%;

}
h6
{
	font: 400 15px "Montserrat","Open Sans","Arial",sans-serif;
    color: #222222;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.features:last-child
{
	    margin-bottom: 0 !important;
}
.featuress img{max-height: 500px;}
.img-f
{
	max-width: 100%;
	display: block;
}
.features:first-child,.featuress:first-child
{
	margin-left: 0px;
}
/*SLOGAN*/

/*WORKS*/
#works
{
	min-height: 250px;
	background: #fff;
	float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
}
/*SKILLS*/
#skills
{
	position: relative;
	width: 100%;
	background: #fff;
	padding-bottom: 30px;
	float: left;
}
.skills-content
{
	
}
/*PORTFOLIO*/
#works .main {
    padding-top: 2%;
    width: 100%;
}
.choose {
    text-align: center;
}
.choose ul {
    position: relative;
    background: #FFF none repeat scroll 0% 0%;
    min-height: 45px;
    margin: 7px auto;
    overflow: hidden;
}
.choose li:hover, .choose li.active {
    color: #03a9f4;
    transition: all 0.5s ease-in-out 0s;
    border: medium none;
}
.choose li {
    display: inline-block;
    margin-bottom: 5px;
    color: #1a1c28;
    font-size: 17px;
    text-transform: none;
    padding: 8px 30px;
    cursor: pointer;
    font-weight: 700;
    position: relative;
   
}
#Container .mix {
    display: none;
    opacity: 1;
    min-height: 250px;
    max-height: 250px;
    background: #FFF none repeat scroll 0% 0%;
    color: #FFF;
    text-align: left;
}
.port-hover {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    max-height: 250px;
    height: 250px;
}
#Container div img {
    min-height:250px ;
    width: 100%;
}
/*Hover portfolio*/
.zoom-link i{display: inline-block;line-height: 250px;padding: 0% 5.5% 0%}
.zoom-link i.zoom{width: 100px;height: 100px;border: 1px solid #fff;line-height: 250px;}
#slogan
{
  
  background: url("../images/bg2.jpg") no-repeat center fixed ;
  position: relative;
  width: 100%;
  float: left;
  min-height: 450px;

}
h2.see-all{font-size: 36px;color: #fff;font-weight: lighter;}
input.see-more{text-align: center;height: 60px;width: 220px;background: transparent;color: #fff;border: 1px solid #fff;text-transform: uppercase;border-radius: 4px;font-weight: bold;}
input.see-more:hover
{
  background:#1a1c28;
  transition-duration:0.5s;
  border: none;
  padding: 5% 0%;
}
/*WORKS*/
#all-works
{
  background: #03a9f4;
  min-height: 120px;
  width: 100%;
  float: left;
}
/*BLOG*/
#blog
{
  
  min-height: 250px;
  background: #fff;
  float: left;
  position: relative; 
  width: 100%;
    

}
.content-blog
{
  padding: 40px 0px;
}
.image-blog
{
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-blog img{height: 250px;max-width: 100%;
    min-width: 100%;}
h2.title-blog
{
  
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #1a1c28;

}
h4.category
{
  font-size: 13px;
  color: #ccc;
  padding:10px 0px;

}
.cont-blog
{
  padding-top:15px; 
  color: #959595;
  font-size: 14px;
  line-height: 24px;
}
input.blog-more
{
  margin: 20px 0px;
  background-color: #ff4081;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: medium none;
  padding: 10px 15px;
  min-width: 65%;
}

.more-blog
{
  text-align: center;
  width: 100%;
  float: left;
  min-height: 130px;
  background-color: #03a9f4;
}
input.bl-more
{
  margin: 20px 0px;
  background: transparent;
  color: #1a1c28;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid #1a1c28;
  padding: 10px 15px;
  width: 15%;
  border-radius: 5px;
}
/*contact*/
#contact
{
  position: relative;
  width: 100%;
  float: left;
  background: #fff;
  padding-top: 40px;
  min-height: 1200px;
  text-align: center;
  height: auto;
}
.socials
{
  padding-top: 40px;
}
.hire-me
{
  text-align: center;
}
.hire-me .icon i.large
{
  width: 100px;
    height: 100px;
    font-size: 28px;
    text-align: center;
    background: #03a9f4;
    border-radius: 50%;
    border: 12px solid #1a1c28;

}
.hire-me .icon i.fa
{
  line-height: 80px; 
  color: #fff;
  
}
div.line-foot{border-top: 2px solid #1a1c28;width:10%;margin: 80px 0px;transform:rotate(90deg);}
div.line-foot2{border-top: 2px solid #1a1c28;width:4%;margin: 40px 0px;transform:rotate(90deg);}
h2.hire-me{font-size: 30px;text-transform: uppercase;color: #1a1c28;font-weight: bold;text-align: center;}
h2.evon{text-transform: uppercase;font-weight: bold;font-size: 36px;color: #03a9f4;padding: 15px 0px;}
.more-infor-me{font-size: 14px;line-height: 24px;color: #303030;padding-bottom: 20px;text-align: center;}
h2.form{text-transform: uppercase;color: #03a9f4;font-size: 24px;font-weight: 400;font-family: "montserrat"}
.main-form
{
  padding: 30px 0px;
  text-align: left;
}
input.contact-me
{
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  background: #ff4081;
  border:medium none;
  padding: 8px 15px;
}

/*footer*/
#footer
{
  background: #1a1c28;
  width: 100%;
  float: left;
  min-height: 120px;
  padding: 20px 0px;
  position: relative;
  color: #fff;
}

/***********************************BLOG***************************************/
.post-blog
{
  width: 100%;
  min-height: 300px;
  margin-top: 20px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #ccc;  
}
.post-blog .image
{
  width: 100%;
  max-height: 230px;
  position: relative;
  overflow: hidden;

}
.post-blog .image img{max-height: 230px;width: 100%}
.post-blog .image:hover img{transform:scale(1.2);}
.post-blog .image:hover img { transition: all .2s ease-in-out; }
.post-blog .image:hover img { transition-duration:0.5s; }
a.tick:hover{color: #03a9f4;}
.post-blog h2.titles
{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top:10px;
}
.post-blog .date-time
{
  font-size: 14px;
  font-weight: thin;
  color: #ccc;
  text-transform: italic;
  text-align: center;
}
.cont-blog-detail
{
  max-height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
div.left-detail
{
  padding-left: 10px;
}
h2.title-detail
{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 5px;
}
.image-detail
{
  width:100%;
  float: left;
  max-height: 500px;
  overflow: auto;
}
.image-detail img
{
  width: 100%;
  
}
.small-detail span{padding: 0 10px 0}
.small-tag {color: #ccc;}
.small-tag i.fa{line-height: 15px;min-width: 20px;}
.content-detail
{
  padding-top: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #494949;
  max-height: 500px;
  overflow: hidden;
  word-wrap:break-word;
}
.related-post
{
      margin-top: 20px;
    position: relative;
    width: 100%;
    float: left;
}
.comments-blog
{
  margin-top:20px;
  width: 100%;
  position: relative;
  float: left; 
}
.comments-blog img{width: 100px;
height: 100px;
border-radius: 50%;}
h2.title-comment
{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 0px 15px;
}
.cmt{font-size: 18px;color: #494949;line-height: 24px;font-weight: lighter;}
.cmt-date{font-size: 14px;color: #494949;line-height: 24px;font-weight: lighter;padding-top:15px;color: #ccc }
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  border-radius: 50%;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #e91e63 url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
.modal-header
{
  border: medium none !important;

}
.modal-header .close
{
  color: #303030;
}